.logoImg {
  animation: rainbow-bg 9s linear;
  animation-iteration-count: infinite;
  padding: 10px;
}
@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
.logoImg img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: logoRotation 9s infinite linear;
}
@keyframes logoRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #370c30;
}
.news-nav {
  color: white;
  display: inline-block;
}
.container {
  width: 55%;
}
.navFunLink {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.377);
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
.nav-scl-name {
  font-size: 30px;
  margin: auto;
  color: white;
  font-family: "Lobster", cursive;
}
.manuIcon {
  color: white;
}
/* post section */
body {
  background-color: #f0f2f5;
}
.post-section {
  margin: auto;
  display: block;
  width: 70%;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px;
  padding-top: 10px;
  box-shadow: 6px 7px 6px 1px #d1d2d5;
}

.userPic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  display: inline-block;
}

.infoUser {
  display: inline-block;
  margin-left: 3px;
}
.userName {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.dot-earth {
  display: inline-block;
}
.userDate {
  display: inline-block;
  font-size: 20px;
}
.dot-earth span {
  display: inline-block;
}
.dot {
  font-size: 8px;
}
.caption-pic {
  margin-top: 5px;
}
.caption {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}
.caption-div {
  padding-left: 13px;
  padding-left: 13px;
}
.post-pic {
  margin-top: 5px;
  border-radius: 0 0 20px 20px;
  width: 100%;
}
@media only screen and (max-width: 1092px) {
  .nav-scl-name {
    font-size: 25px;
  }
  .navFunLink {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }
}
@media only screen and (max-width: 991px) {
  .nav-scl-name {
    font-size: 24px;
  }
}
@media only screen and (max-width: 809px) {
  .container {
    width: 100%;
  }
  .nav-scl-name {
    font-size: 23px;
  }
}
@media only screen and (max-width: 583px) {
  .container,
  .container-sm {
    max-width: 500px;
  }
  .nav-scl-name {
    font-size: 23px;
  }
}
@media only screen and (max-width: 544px) {
  .container,
  .container-sm {
    max-width: 500px;
  }
  .nav-scl-name {
    font-size: 23px;
  }
}

@media only screen and (max-width: 548px) {
  .container,
  .container-sm {
    max-width: 451px;
    /* float: right; */
  }
  .nav-scl-name,
  .manuIcon {
    font-size: 20px;
  }
}
@media only screen and (max-width: 494px) {
  .container,
  .container-sm {
    max-width: 400px;
    /* float: right; */
  }
  .nav-scl-name,
  .manuIcon {
    font-size: 18px;
  }
}
@media only screen and (max-width: 441px) {
  .container {
    width: 77%;
  }
  .nav-scl-name {
    font-size: 18px;
    margin: 0;
  }
}
@media only screen and (max-width: 440px) {
  .nav-scl-name {
    font-size: 15px;
    margin: 0;
  }
}
